body {
  background-color: antiquewhite;
}
h1 {
  text-align: center;
  background-color: green;
  font-size: 80px;
  color: rgb(157, 221, 203);
}

h2 {
  font-size: 40px;
  color: black;
}

h3 {
  font-size: 25px;
  color: rgb(64, 64, 64);
}


#main {
  font-size: 40px;
  font-weight: bold;
}

img {
  display: block;
  margin: 0 auto;
  height: 300px;
  width: auto;
}
